body {
    background-color: #fafafa;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.fixed {
    position:fixed; 
    width:100%; 
}

.nonFixed {

}

#myFavModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

#fav-modal-content {
    width: 940px;
    background-color: #fefefe;
    margin: 1% auto;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #888;
}

.headOfModal {
    height: 30px;
}

#fav-modal-content #favBtn {
    display: none;
}

#fav-modal-content #favBtnNew {
    display: none;
}

#fav-modal-content #showMore {
    display: none;
}

#fav-modal-content #newShowMore {
    display: none;
}

#fav-modal-content .priceDiv {
    background-color: none;
}

#modalPhrase {
    float: left;
    width: 900px;
    text-align: center;
    margin-top: 10px;
}

.favClose {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 5;
    margin-right: 5px;
    cursor: pointer;
}

#inside-fav-modal-content {
    margin-top: 10px;
    margin-right: 40px;
}

#removeFavBtn {
    float: right;
    border: 1px solid #316390; 
}


#myShowModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

#show-modal-content {
    width: 920px;
    background-color: #fefefe;
    margin: 1% auto;
    padding: 5px;
    border: 1px solid #888;
}

.imgModal {
    width: 550px;
    text-align: center;
}


#show-modal-content #favBtn {
    display: none;
}

#show-modal-content #favBtnNew {
    display: none;
}

#show-modal-content #showMore {
    display: none;
}

#show-modal-content #newShowMore {
    display: none;
}

.showClose {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

#inside-show-model-content {
    margin-top: 10px;
    margin-right: 40px;   
}

.titleText {
    color: blue;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 400px;
    padding-top: 150px;
    float: right;
    text-align: center;
    vertical-align: middle;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

button:hover {
    background-color: rgba(158,158,158,.2);
}

button:active {
    background-color: rgba(158,158,158,.4);
}

button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

button .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
    vertical-align: middle;
}

input {
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}

main {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: blue;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    display: inline-block;
    color: white;
    margin: 1rem auto;
}

#container {
    width: 920px;
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
}

#list {
    padding-top: 45px;
}

.generalDiv {
    width: 919px;
    margin: 0;
}

.imgDiv {
    width: 300px;
    float: left;
}

img {
    width: 295px;
}

.infoDiv {
    width: 400px;
    float: left;
    margin-left: 7px;
}

.title {
    color: blue;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.keyWords {
    color: grey;
    font-weight: bold;
    font-size: 18px;  
    margin-bottom: 10px;
}

.description {
    color: black;
    font-size: 12px; 
    margin-bottom: 10px;
}

.datasource {
    color: navy;
    font-size: 14px; 
}

.priceDiv {
    width: 200px;
    float: right;
    margin-left: 7px;
}

.price{
    width: 199px;
    height: 50px;
    color: white;
    background-color: grey;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 90px;
}

.priceNumber{
    display: inline-block;
    margin-top: 15px;
}

.mortGage{
    font-size: 14px;
}

#favBtn {
    margin-top: 5px;
    float: right;
}

#favBtn:active {
    vertical-align: middle;
    background-color: red; 
}

#showMore {
    margin-top: 5px;
    float: right;
}


.item {
    display: flex;
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    align-items: center;
}

.item.completed * {
    color: lightgray;
}

.item .checkbox {
    margin-right: .5rem;
}

.item .textfield {
    margin-right: auto;
}

.item.completed .title {
    text-decoration: line-through;
}

.item.editing .title {
    display: none;
}

.item .textfield {
    display: none;
}

.item.editing .textfield {
    display: block;
}

.item button {
    transition: all .2s;
}

.item:hover button:not(.checkbox) {
    opacity: 1;
}

.addMore{
    border: 1px solid #316390;  
    margin-bottom: 5px;
    float: right;
}

.favorBtn{
    border: 1px solid #316390;  
    float: right;
}

#form {
    display: flex;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 10px;
}

#form input {
    flex: 1;
    outline: none;
    transition: all .2s;
}

#form input:focus {
    border: 1px solid #f0db4f;
}

#form button {
    margin-left: 10px;
}